/*! CSS Used from: https://kebs.dev/lcuapi/style.css */
body{margin:0;background:#ffffff;font-family:"Roboto","Helvetica","Arial",sans-serif;}
body{margin:0;}
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
h1{font-size:2em;margin:.67em 0;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
@media print{
*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
p,h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
.table-bordered th,.table-bordered td{border:1px solid #ddd!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h1,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h3{margin-top:20px;margin-bottom:10px;}
h1{font-size:36px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){
.container{width:800px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:900px;}
}
table{background-color:transparent;}
th{text-align:left;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>thead>tr>th,.table>tbody>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd;}
.table>thead:first-child>tr:first-child>th{border-top:0;}
.table-condensed>thead>tr>th,.table-condensed>tbody>tr>td{padding:5px;}
.table-bordered{border:1px solid #ddd;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>td{border:1px solid #ddd;}
.table-bordered>thead>tr>th{border-bottom-width:2px;}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);}
.panel-body{padding:15px;}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px;}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit;}
.container:before,.container:after,.panel-body:before,.panel-body:after{content:" ";display:table;}
.container:after,.panel-body:after{clear:both;}
.table.swagger--summary>tbody>tr>td p{margin:0;}
.swagger--panel-operation-post{border-color:#78cc94;}
.swagger--panel-operation-post>.panel-heading{color:#333;background-color:#e7f6ec;border-color:#78cc94;}
.swagger--panel-operation-get{border-color:#74a8d1;}
.swagger--panel-operation-get>.panel-heading{color:#333;background-color:#e7f0f7;border-color:#74a8d1;}
.swagger--panel-operation-put{border-color:#d8ab71;}
.swagger--panel-operation-put>.panel-heading{color:#333;background-color:#f9f2e9;border-color:#d8ab71;}
.swagger--panel-operation-patch{border-color:#ed7c59;}
.swagger--panel-operation-patch>.panel-heading{color:#333;background-color:#FCE9E3;border-color:#ed7c59;}
.swagger--panel-operation-delete{border-color:#c77d7d;}
.swagger--panel-operation-delete>.panel-heading{color:#333;background-color:#f5e8e8;border-color:#c77d7d;}
.swagger--panel-operation-head{border-color:#f3ff34;}
.swagger--panel-operation-head>.panel-heading{color:#333;background-color:#fcffcd;border-color:#f3ff34;}
.sw-operation-description:before{font-weight:bold;color:#555;text-transform:uppercase;content:"Description";padding-bottom:.5em;display:block;}
.sw-operation-description:not(:last-child){padding-bottom:1.5em;}
.sw-request-params:before{font-weight:bold;color:#555;text-transform:uppercase;content:"Request parameters";padding-bottom:.5em;display:block;}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
body{margin:0;background:#ffffff;font-family:"Roboto","Helvetica","Arial",sans-serif;}
body{margin:0;}
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
h1{font-size:2em;margin:.67em 0;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
@media print{
*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
p,h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
.table-bordered th,.table-bordered td{border:1px solid #ddd!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h1,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h3{margin-top:20px;margin-bottom:10px;}
h1{font-size:36px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){
.container{width:800px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:900px;}
}
table{background-color:transparent;}
th{text-align:left;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>thead>tr>th,.table>tbody>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd;}
.table>thead:first-child>tr:first-child>th{border-top:0;}
.table-condensed>thead>tr>th,.table-condensed>tbody>tr>td{padding:5px;}
.table-bordered{border:1px solid #ddd;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>td{border:1px solid #ddd;}
.table-bordered>thead>tr>th{border-bottom-width:2px;}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);}
.panel-body{padding:15px;}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px;}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit;}
.container:before,.container:after,.panel-body:before,.panel-body:after{content:" ";display:table;}
.container:after,.panel-body:after{clear:both;}
.table.swagger--summary>tbody>tr>td p{margin:0;}
.swagger--panel-operation-post{border-color:#78cc94;}
.swagger--panel-operation-post>.panel-heading{color:#333;background-color:#e7f6ec;border-color:#78cc94;}
.swagger--panel-operation-get{border-color:#74a8d1;}
.swagger--panel-operation-get>.panel-heading{color:#333;background-color:#e7f0f7;border-color:#74a8d1;}
.swagger--panel-operation-put{border-color:#d8ab71;}
.swagger--panel-operation-put>.panel-heading{color:#333;background-color:#f9f2e9;border-color:#d8ab71;}
.swagger--panel-operation-patch{border-color:#ed7c59;}
.swagger--panel-operation-patch>.panel-heading{color:#333;background-color:#FCE9E3;border-color:#ed7c59;}
.swagger--panel-operation-delete{border-color:#c77d7d;}
.swagger--panel-operation-delete>.panel-heading{color:#333;background-color:#f5e8e8;border-color:#c77d7d;}
.swagger--panel-operation-head{border-color:#f3ff34;}
.swagger--panel-operation-head>.panel-heading{color:#333;background-color:#fcffcd;border-color:#f3ff34;}
.sw-operation-description:before{font-weight:bold;color:#555;text-transform:uppercase;content:"Description";padding-bottom:.5em;display:block;}
.sw-operation-description:not(:last-child){padding-bottom:1.5em;}
.sw-request-params:before{font-weight:bold;color:#555;text-transform:uppercase;content:"Request parameters";padding-bottom:.5em;display:block;}
}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
body{background-image:initial;background-color:rgb(24, 26, 27);}
a{background-color:transparent;}
a:active,a:hover{outline-color:initial;}
body{color:rgb(200, 195, 188);background-color:rgb(24, 26, 27);}
a{color:rgb(105, 166, 213);text-decoration-color:initial;}
a:hover,a:focus{color:rgb(141, 187, 223);text-decoration-color:initial;}
a:focus{outline-color:rgb(186, 123, 0);}
h1,h3{color:inherit;}
table{background-color:transparent;}
.table > thead > tr > th,.table > tbody > tr > td{border-top-color:rgb(58, 62, 65);}
.table > thead > tr > th{border-bottom-color:rgb(58, 62, 65);}
.table > thead:first-child > tr:first-child > th{border-top:0px;}
.table-bordered{border-color:rgb(58, 62, 65);}
.table-bordered > thead > tr > th,.table-bordered > tbody > tr > td{border-color:rgb(58, 62, 65);}
.panel{background-color:rgb(24, 26, 27);border-color:transparent;box-shadow:rgba(0, 0, 0, 0.05) 0px 1px 1px;}
.panel-heading{border-bottom-color:transparent;}
.panel-title{color:inherit;}
.swagger--panel-operation-post{border-color:rgb(43, 115, 67);}
.swagger--panel-operation-post > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(19, 51, 35);border-color:rgb(43, 115, 67);}
.swagger--panel-operation-get{border-color:rgb(39, 83, 118);}
.swagger--panel-operation-get > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(33, 36, 37);border-color:rgb(39, 83, 118);}
.swagger--panel-operation-put{border-color:rgb(123, 84, 34);}
.swagger--panel-operation-put > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(53, 36, 15);border-color:rgb(123, 84, 34);}
.swagger--panel-operation-patch{border-color:rgb(142, 45, 15);}
.swagger--panel-operation-patch > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(63, 20, 7);border-color:rgb(142, 45, 15);}
.swagger--panel-operation-delete{border-color:rgb(110, 48, 48);}
.swagger--panel-operation-delete > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(49, 21, 21);border-color:rgb(110, 48, 48);}
.swagger--panel-operation-head{border-color:rgb(153, 163, 0);}
.swagger--panel-operation-head > .panel-heading{color:rgb(200, 195, 188);background-color:rgb(58, 61, 0);border-color:rgb(153, 163, 0);}
.sw-operation-description::before{color:rgb(178, 172, 162);}
.sw-request-params::before{color:rgb(178, 172, 162);}
}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
::placeholder{opacity:0.5!important;}
}